.new-survey-creation-container {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow-y: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #161940;
}
.new-survey-creation-top-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.new-survey-creation-left {
  flex: 0 0 auto;
  width: 33%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.new-survey-creation-mid {
  flex: 0 0 auto;
  width: 33%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-survey-creation-title {
  color: rgb(255, 255, 255);
  width: 381px;
  height: auto;
  align-self: center;
  text-align: center;
}
.new-survey-creation-right {
  flex: 0 0 auto;
  width: 33%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.new-survey-creation-navlink {
  display: contents;
}
.new-survey-creation-submit-button {
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-700);
}
.new-survey-creation-submit-button:hover {
  color: black;
  background-color: #ffffff;
}
.new-survey-creation-text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
}
.new-survey-creation-middle-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.new-survey-creation-left-white {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.new-survey-creation-heading-and-desc {
  flex: 1;
  width: 95%;
  height: 423px;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.new-survey-creation-text01 {
  width: auto;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.new-survey-creation-textarea {
  width: 100%;
  height: var(--dl-size-size-small);
  padding-top: 0rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 1rem;
  padding-bottom: 0rem;
}
.new-survey-creation-description {
  width: auto;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.new-survey-creation-textarea1 {
  width: 100%;
  height: var(--dl-size-size-xlarge);
  padding-top: 0rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 1rem;
  padding-bottom: 0rem;
}
.new-survey-creation-mid-white {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-survey-creation-questions {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 5px 10px 0px #000000;
  padding-top: 2rem;
  margin-right: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.new-survey-creation-ql-heading {
  width: auto;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.new-survey-creation-form {
  width: 100%;
  height: 245px;
  display: flex;
  padding-left: 4px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column; /* Display items vertically */
  overflow-y: auto; /* Add vertical scrollbar if needed */
}
.new-survey-creation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-self: center;
  box-shadow: 2px 2px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-unit);
}
.new-survey-creation-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.new-survey-creation-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.new-survey-creation-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.new-survey-creation-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.new-survey-creation-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.new-survey-creation-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.new-survey-creation-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.new-survey-creation-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.new-survey-creation-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.new-survey-creation-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.new-survey-creation-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.new-survey-creation-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.new-survey-creation-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.new-survey-creation-text07 {
  color: #ffffff;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
}
.new-survey-creation-right-white {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-survey-creation-images {
  width: 95%;
  height: 423px;
  display: flex;
  align-self: flex-end;
  box-shadow: -5px 5px 10px 0px #000000;
  overflow-y: auto;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.new-survey-creation-di-heading {
  width: auto;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.new-survey-creation-textinput {
  width: 100%;
  margin-bottom: var(--dl-space-space-unit);
}
.new-survey-creation-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-self: center;
  box-shadow: 2px 2px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.new-survey-creation-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.new-survey-creation-text08 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.new-survey-creation-dropdown-arrow {
  transition: 0.3s;
}
.new-survey-creation-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.new-survey-creation-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.new-survey-creation-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.new-survey-creation-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.new-survey-creation-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.new-survey-creation-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.new-survey-creation-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.new-survey-creation-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.new-survey-creation-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.new-survey-creation-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.new-survey-creation-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.new-survey-creation-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.new-survey-creation-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.new-survey-creation-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.new-survey-creation-mheading {
  width: auto;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.new-survey-creation-form1 {
  width: 100%;
  height: var(--dl-size-size-large);
  display: flex;
  overflow-y: auto;
  padding-left: 4px;
  flex-direction: column;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.new-survey-creation-bottom-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.new-survey-creation-img-preview {
  flex: 0 0 auto;
  width: 1026px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 238px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  overflow-x: auto;
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.new-survey-creation-quest-preview {
  flex: 0 0 auto;
  width: 1031px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
}
.new-survey-creation-nav {
  flex: 0 0 auto;
  width: 598px;
  height: 51px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 16px;
}

.navBar-button {
  width: 50px; /* Fixed width for the buttons */
  height: 51px;
  border: 2px solid #ffffff;
  color: white;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navBar-button:hover {
  color: var(--dl-color-primary-700);
}
@media(max-width: 767px) {
  .new-survey-creation-submit-button {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .new-survey-creation-submit-button {
    width: 100%;
  }
}
