.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-hero {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #161940;
}
.profile-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.profile-logo {
  width: 64px;
}
.profile-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.profile-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.profile-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.profile-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.profile-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.profile-navlink {
  display: contents;
}
.profile-logo1 {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.profile-links1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.profile-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.profile-navlink1 {
  display: contents;
}
.profile-home-button {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.profile-home-button:hover {
  background-color: #5228F5;
}
.profile-text3 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.profile-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.profile-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.profile-menu-code {
  display: contents;
}
.profile-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.profile-text4 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.profile-text5 {
  color: #ffffff;
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.profile-form {
  width: 803px;
  height: 231px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-text6 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  max-width: 600px;
  margin-top: 0px;
  text-align: center;
  line-height: 30px;
}
.profile-text7 {
  color: #ffffff;
  font-size: 20px;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  line-height: 30px;
}
.profile-continue-button {
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin-top: 40px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #0198fd;
}
.profile-continue-button:hover {
  color: black;
  background-color: #ffffff;
}
.profile-text8 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .profile-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .profile-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .profile-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .profile-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .profile-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .profile-logo1 {
    width: 64px;
  }
  .profile-links1 {
    display: none;
  }
  .profile-home-button {
    display: none;
  }
  .profile-mobile-menu-button {
    display: flex;
  }
  .profile-header {
    width: 100%;
    max-width: 1200px;
  }
}
@media(max-width: 767px) {
  .profile-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .profile-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .profile-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .profile-left {
    margin-left: var(--dl-space-space-unit);
  }
  .profile-right {
    margin-right: var(--dl-space-space-unit);
  }
  .profile-home-button {
    display: none;
  }
  .profile-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .profile-text4 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .profile-text5 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .profile-text6 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .profile-text7 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .profile-continue-button {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .profile-hero {
    padding-bottom: 160px;
  }
  .profile-logo {
    margin-left: 0px;
  }
  .profile-icon {
    align-items: center;
    justify-content: center;
  }
  .profile-text5 {
    color: #EEE9FE;
  }
  .profile-text6 {
    color: #EEE9FE;
  }
  .profile-text7 {
    color: #EEE9FE;
  }
  .profile-continue-button {
    width: 100%;
  }
}
