.researcher-dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #161940;
}
.researcher-dashboard-container1 {
  width: auto;
  /* height: var(--dl-size-size-maxheight); */
  height: 100vh;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  padding-top: 2rem;
  margin-right: var(--dl-space-space-oneandhalfunits);
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.researcher-dashboard-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.researcher-dashboard-logo {
  width: 105px;
  text-decoration: none;
}
.researcher-dashboard-pasted-image {
  width: 160px;
  height: 160px;
}
.researcher-dashboard-options {
  width: max-content;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.researcher-dashboard-create-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-end;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #161940;
}
.researcher-dashboard-create-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-current-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-end;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #161940;
}
.researcher-dashboard-current-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-closed-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
}
.researcher-dashboard-closed-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text02 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-statistics {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.researcher-dashboard-overall-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
}
.researcher-dashboard-overall-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text07 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-specific-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
}
.researcher-dashboard-specific-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text08 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-settings {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.researcher-dashboard-profile-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
}
.researcher-dashboard-profile-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text11 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-change-password-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #161940;
}
.researcher-dashboard-change-password-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text12 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-navlink {
  display: contents;
}
.researcher-dashboard-logout-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  text-decoration: none;
  background-color: #161940;
}
.researcher-dashboard-logout-button:hover {
  color: black;
  background-color: #ffffff;
}
.researcher-dashboard-text13 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: auto;
  align-items: center;
  flex-direction: column;
}
.researcher-dashboard-image {
  width: 200px;
  object-fit: cover;
}
.researcher-dashboard-image1 {
  width: 200px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .researcher-dashboard-logo {
    width: 64px;
  }
}
@media(max-width: 767px) {
  .researcher-dashboard-container1 {
    height: 100%;
  }
  .researcher-dashboard-create-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-current-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-closed-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-overall-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-specific-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-profile-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-change-password-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-logout-button {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .researcher-dashboard-create-button {
    width: 100%;
  }
  .researcher-dashboard-current-button {
    width: 100%;
  }
  .researcher-dashboard-closed-button {
    width: 100%;
  }
  .researcher-dashboard-overall-button {
    width: 100%;
  }
  .researcher-dashboard-specific-button {
    width: 100%;
  }
  .researcher-dashboard-profile-button {
    width: 100%;
  }
  .researcher-dashboard-change-password-button {
    width: 100%;
  }
  .researcher-dashboard-logout-button {
    width: 100%;
  }
}
