.researcher-dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #161940;
}
.researcher-dashboard-container1 {
  width: 327px;
  height: 1034px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  padding-right: 350px;
  justify-content: center;
  background-color: #ffffff;
}
.researcher-dashboard-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.researcher-dashboard-pasted-image {
  top: 24px;
  left: 74px;
  position: absolute;
}
.researcher-dashboard-navlink {
  display: contents;
}
.researcher-dashboard-logo {
  top: 13px;
  left: 120px;
  width: 105px;
  position: absolute;
  text-decoration: none;
}
.researcher-dashboard-text {
  top: 207px;
  left: 41px;
  width: 272px;
  position: absolute;
  align-self: flex-start;
}
.researcher-dashboard-text01 {
  top: 687px;
  left: 107px;
  position: absolute;
  align-self: flex-start;
}
.researcher-dashboard-text05 {
  top: 479px;
  left: 97px;
  position: absolute;
  align-self: flex-start;
}
.researcher-dashboard-create-button {
  top: 256px;
  left: 111px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-create-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text08 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-profile-button {
  top: 733px;
  left: 108px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-profile-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text09 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-overall-button {
  top: 526px;
  left: 106px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-overall-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text10 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-specific-button {
  top: 596px;
  left: 102px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-specific-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text11 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-change-password-button {
  top: 798px;
  left: 55px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-change-password-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text12 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-navlink1 {
  display: contents;
}
.researcher-dashboard-logout-button {
  left: 109px;
  bottom: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-logout-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text13 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-current-button {
  top: 324px;
  left: 107px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-current-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text14 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-closed-button {
  top: 391px;
  left: 109px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.15s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-closed-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}
.researcher-dashboard-text15 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.researcher-dashboard-container3 {
  top: 10px;
  right: 10px;
  width: 1500px;
  /* TODO remove brder once resized */
  border: 2px solid rgba(120, 120, 120, 0.4);
  height: 938px;
  display: flex;
  position: absolute;
  /* align-self: stretch;
  align-items: flex-start; */
  flex-direction: column;
  overflow: auto;
}
@media(max-width: 991px) {
  .researcher-dashboard-logo {
    width: 64px;
  }
}
@media(max-width: 767px) {
  .researcher-dashboard-create-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-profile-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-overall-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-specific-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-change-password-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-logout-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-current-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .researcher-dashboard-closed-button {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .researcher-dashboard-create-button {
    width: 100%;
  }
  .researcher-dashboard-profile-button {
    width: 100%;
  }
  .researcher-dashboard-overall-button {
    width: 100%;
  }
  .researcher-dashboard-specific-button {
    width: 100%;
  }
  .researcher-dashboard-change-password-button {
    width: 100%;
  }
  .researcher-dashboard-logout-button {
    width: 100%;
  }
  .researcher-dashboard-current-button {
    width: 100%;
  }
  .researcher-dashboard-closed-button {
    width: 100%;
  }
}
