.survey-creation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #161940;
}
.survey-creation-change-password-button {
  left: 526px;
  color: white;
  bottom: 77px;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #0198fd;
}
.survey-creation-change-password-button:hover {
  color: black;
  background-color: #ffffff;
}
.survey-creation-text {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.survey-creation-text1 {
  color: rgb(255, 255, 255);
  width: 583px;
  height: 82px;
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.survey-creation-form {
  top: 185px;
  left: 193px;
  width: 803px;
  height: 393px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.survey-creation-text2 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.survey-creation-text3 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
  padding-top: var(--dl-space-space-threeunits);
}
.survey-creation-text4 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 50px;
  text-align: center;
  line-height: 30px;
}
@media(max-width: 767px) {
  .survey-creation-change-password-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .survey-creation-text1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .survey-creation-text2 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .survey-creation-text3 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .survey-creation-text4 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .survey-creation-change-password-button {
    width: 100%;
  }
  .survey-creation-text2 {
    color: #EEE9FE;
  }
  .survey-creation-text3 {
    color: #EEE9FE;
  }
  .survey-creation-text4 {
    color: #EEE9FE;
  }
}
