.user-dashboard-button {
  /* Your existing styles for the button */
  background-color: initial;
  color: initial;
  /* Add any other styles you need */

  /* Hover styles */
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.user-dashboard-button:hover {
  background-color: #FF0000; /* Change the background color on hover to your desired color */
  color: #FFFFFF; /* Change the text color on hover, if needed */
}
.filter-dropdown {
  font-family: Inter;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  width: fit-content;
  height: 4vh;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.user-dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #161940;
}
.user-dashboard-container1 {
  width: auto;
  /* height: var(--dl-size-size-maxheight); */
  height: 100vh;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  padding-top: 2rem;
  margin-right: var(--dl-space-space-oneandhalfunits);
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.user-dashboard-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-dashboard-logo {
  width: 105px;
  text-decoration: none;
}
.user-dashboard-pasted-image {
  width: 160px;
  height: 160px;
}
.user-dashboard-options {
  width: max-content;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.user-dashboard-create-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-end;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #161940;
}
.user-dashboard-create-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-text {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-current-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: flex-end;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #161940;
}
.user-dashboard-current-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-text01 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-completed-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
}
.user-dashboard-completed-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-text02 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-settings {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.user-dashboard-profile-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
}
.user-dashboard-profile-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-text07 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-change-password-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #161940;
}
.user-dashboard-change-password-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-text08 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-navlink {
  display: contents;
}
.user-dashboard-logout-button {
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  text-decoration: none;
  background-color: #161940;
}
.user-dashboard-logout-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-text09 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-container3 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-self: auto;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}
.user-dashboard-image {
  width: 200px;
  object-fit: cover;
}
.user-dashboard-image1 {
  width: 200px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .user-dashboard-logo {
    width: 64px;
  }
}
@media(max-width: 767px) {
  .user-dashboard-container1 {
    height: 100%;
  }
  .user-dashboard-create-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-current-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-completed-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-profile-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-change-password-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-logout-button {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .user-dashboard-create-button {
    width: 100%;
  }
  .user-dashboard-current-button {
    width: 100%;
  }
  .user-dashboard-completed-button {
    width: 100%;
  }
  .user-dashboard-profile-button {
    width: 100%;
  }
  .user-dashboard-change-password-button {
    width: 100%;
  }
  .user-dashboard-logout-button {
    width: 100%;
  }
}
