.user-dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #161940;
}
.user-dashboard-container1 {
  width: 327px;
  height: 1034px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  padding-right: 350px;
  justify-content: center;
  background-color: #ffffff;
}
.user-dashboard-container2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.user-dashboard-pasted-image {
  top: 20px;
  left: 74px;
  position: absolute;
}
.user-dashboard-navlink {
  display: contents;
}
.user-dashboard-logo {
  top: 16px;
  left: 123px;
  width: 105px;
  position: absolute;
  text-decoration: none;
}
.user-dashboard-text {
  top: 230px;
  left: 46px;
  width: 272px;
  position: absolute;
  align-self: flex-start;
}
.user-dashboard-text01 {
  top: 518px;
  left: 99px;
  position: absolute;
  align-self: flex-start;
}
.user-dashboard-new-button {
  top: 285px;
  left: 121px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-new-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-profile-button {
  top: 564px;
  left: 108px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-profile-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-change-password-button {
  top: 625px;
  left: 57px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-change-password-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-logout-button {
  top: 691px;
  left: 109px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-logout-button:hover {
  color: black;
  background-color: #ffffff;
};
.user-dashboard-current-button {
  top: 691px;
  left: 109px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-current-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-completed-button {
  top: 417px;
  left: 93px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
  background-color: #161940;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
}
.user-dashboard-completed-button:hover {
  color: black;
  background-color: #ffffff;
}
.user-dashboard-container3 {
  top: 48px;
  right: 39px;
  width: 784px;
  /* TODO remove brder once resized */
  border: 2px solid rgba(120, 120, 120, 0.4);
  height: 938px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 991px) {
  .user-dashboard-logo {
    width: 64px;
  }
}
@media(max-width: 767px) {
  .user-dashboard-new-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-profile-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-change-password-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-logout-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-current-button {
    margin-top: var(--dl-space-space-twounits);
  }
  .user-dashboard-completed-button {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .user-dashboard-new-button {
    width: 100%;
  }
  .user-dashboard-profile-button {
    width: 100%;
  }
  .user-dashboard-change-password-button {
    width: 100%;
  }
  .user-dashboard-logout-button {
    width: 100%;
  }
  .user-dashboard-current-button {
    width: 100%;
  }
  .user-dashboard-completed-button {
    width: 100%;
  }
}
