<div style="width: 100%">
    <link href="./level-card.css" rel="stylesheet" />
    <div style="display: flex" id="parentDiv" class="level-card-parent-div">
        <div style="width: 65%;" id="imageAreaDiv" class="level-card-image-area-div">
        </div>
        <div style="width: 35%; align-self: flex-end;" id="textAreaDiv" class="level-card-text-area-div">
            <div id="scoreDiv" class="level-card-score-div">
                <span class="level-card-text"><span>Score: </span></span>
                <span id="scoreValue" class="level-card-text1"><span>89</span></span>
            </div>
            <div id="domainDiv" class="level-card-domain-div">
                <span class="level-card-text2"><span>Domain: </span></span>
                <span id="domainValue" class="level-card-text3"><span>Maze</span></span>
            </div>
            <div id="modelDiv" class="level-card-model-div">
                <span class="level-card-text4"><span>Model: </span></span>
                <span id="modelValue" class="level-card-text5"><span>hWFC</span></span>
            </div>
        </div>
    </div>
</div>