.level-card-parent-div {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .level-card-image-area-div {
    flex: 0 0 auto;
    width: 65%;
    height: auto;
    display: flex;
    overflow: auto;
    align-items: center;
    padding-right: 2rem;
    flex-direction: row;
    justify-content: flex-end;
  }
  .level-card-image {
    width: fit-content;
    height: fit-content;
    align-self: center;
    object-fit: cover;
  }
  .level-card-text-area-div {
    flex: 0 0 auto;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
  }
  .level-card-score-div {
    flex: 0 0 auto;
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    margin-bottom: 5%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .level-card-text {
    color: #ffffff;
    font-size: 20px;
  }
  .level-card-text1 {
    color: #00ff47;
    font-size: 20px;
  }
  .level-card-domain-div {
    flex: 0 0 auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
    flex-direction: row;
  }
  .level-card-text2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .level-card-text3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .level-card-model-div {
    flex: 0 0 auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .level-card-text4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .level-card-text5 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  
