<div>
    <link href="./level-card.css" rel="stylesheet" />
    <div id="parentDiv" class="level-card-parent-div">
        <div id="imageAreaDiv" class="level-card-image-area-div">
            <img alt="image" src="https://play.teleporthq.io/static/svg/default-img.svg" class="level-card-image" />
        </div>
        <div id="textAreaDiv" class="level-card-text-area-div">
            <div id="scoreDiv" class="level-card-score-div">
                <span class="level-card-text"><span>Score: </span></span>
                <span id="scoreValue" class="level-card-text1"><span>89</span></span>
            </div>
            <div id="domainDiv" class="level-card-domain-div">
                <span class="level-card-text2"><span>Domain: </span></span>
                <span id="domainValue" class="level-card-text3"><span>Maze</span></span>
            </div>
            <div id="modelDiv" class="level-card-model-div">
                <span class="level-card-text4"><span>Model: </span></span>
                <span id="modelValue" class="level-card-text5"><span>hWFC</span></span>
            </div>
        </div>
    </div>
</div>