.survey-card-container {
  width: 100%;
  height: 560px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.survey-card-gallery-card {
  width: 1300px;
  height: 500px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.survey-card-image {
  /* Set a fixed size for the image */
  width: 100% ;
  height: 100% ;
  object-fit: cover;
  /* Add max-width to prevent image overflow */
  max-width: 400px ;
  max-height: 300px ;
  margin-bottom: 20px;
}

.survey-card-text {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}

.survey-card-text1 {
  color: var(--dl-color-gray-500);
  align-self: center;
  margin-bottom: 10px;
}

.card-button {
  color: white;
  cursor: pointer;
  transition: 0.15s;
  padding-top: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-bottom: var(--dl-space-space-unit); 
  background-color: #161940;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.card-button:hover {
  color: black;
  background-color: #ffffff;
  border: 2px solid rgba(120, 120, 120, 0.4);
}

@media (max-width: 1500px) {
  .survey-card-gallery-card {
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .survey-card-image {
    /* Adjust the height for smaller screens */
    height: 10rem;
  }
}
